@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    display: flex;
    background: #FAF7EE;
}

html::-webkit-scrollbar {
    display: none;
}

/*Navigation Bar*/

#nav-bar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #294278;
    color: white;
    font-size: 25px;
    font-weight: 700;
    z-index: 4;
}

#nav-links {
    display: flex;
    align-items: center;
}

#nav-list {
    width: 900px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

#nav-list li {
    display: inline;
}

.lnkBtnNavLink {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.lnkBtnNavLink:hover {
    color: #E5A73A;
}

/*Authentication Page*/

#authentication-page {
    height: 100vh;
}

#signin-container,
#signup-container,
#authentication-slider {
    height: 100vh;
    transition: box-shadow 0.5s ease, left 0.5s ease, right 0.5s ease;
}

#signin-container,
#signup-container {
    width: 40vw;
    position: absolute;
    background: #FAF7EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signin-container {
    left: calc(50% - 40vw/2);
    z-index: 1;
}

#signup-container {
    left: calc(100% - 40vw);
    z-index: 2;
}

#authentication-slider {
    width: 60vw;
    position: absolute;
    left: 0px;
    background: #FAF7EE;
    display: flex;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.website-title,
#signin-message,
#signin-email,
#signup-email,
#signin-password,
#signup-password,
#signup-confirm-password,
#signin-button,
#signup-button,
#switch-to-signup,
#switch-to-signin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-title {
    width: 425px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    font-weight: 700;
    cursor: default;
}

.website-title img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

#signin-message,
#signup-message {
    width: 425px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: 700;
}

#signup-message {
    flex-direction: column;
}

.input-field {
    width: 576px;
    height: 60px;
    position: relative;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #161B2B;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.3s;
}

.txtInputField {
    width: 400px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #161B2B;
    padding: 0 10px;
    background-color: #efefef;
    border: 2px solid black;
    outline: #efefef;
    border-radius: 10px;
    transition: 0.3s;
}

.txtInputField:focus ~ label,
.txtInputField:valid ~ label {
    top: 5px;
    font-size: 12px;
    color: white;
    background-color: #000000;
    border-radius: 5px;
}

#signin-button,
#signup-button {
    height: 60px;
    margin: 15px 0;
}

.btnSubmitForm {
    width: 425px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #294278;
    border: none;
    border-radius: 25px;
    transition: transform 0.5s ease;
}

.btnSubmitForm:hover {
    transform: translateY(-2px);
}

#switch-to-signup,
#switch-to-signin {
    margin: 15px 0;
}

#sign-in,
#sign-up {
    cursor: pointer;
}

/*Pages*/

.page-container {
    width: 100vw;
    display: flex;
}

/*Home Page*/

#home-page {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-message {
    width: 100vw;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 100px;
}

#shortcut-buttons {
    display: flex;
    margin: 40px 0 0 0;
    align-items: center;
    justify-content: center;
}

.btnShortcutButton {
    width: 425px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #E5A73A;
    border: none;
    border-radius: 25px;
    transition: transform 0.5s ease;
}

.btnShortcutButton:hover {
    transform: translateY(-2px);
}

/*Registration Page*/

#registration-page {
    height: calc(100vh - 100px);
    padding: 55px 0px 0px 0px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.steps-container {
    width: 400px;
    height: 100%;
    padding: 5px 30px 30px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.next-step-indicator {
    width: 60px;
    height: 60px;
    display: flex;
}

.instruction {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-count {
    font-size: 150px;
    font-weight: 700;
    color: #294278;
}

.step-title {
    font-size: 25px;
    font-weight: 700;
    color: #294278;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.step-description-container {
    height: 75px;
    display: flex;
    align-items: center;
}

.step-description {
    font-size: 18px;
    color: #736C6D;
}

.btnRegistrationButton {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #294278;
    background-color: transparent;
    border: solid 2px #294278;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.btnRegistrationButton:hover {
    transform: translateY(-2px);
}

#first-registration-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-divider {
    height: calc(100vh - 100px);
    font-size: 20px;
}

.txtRegistrationField {
    height: 30px;
}

/*News and Events Page*/

#news-page {
    display: flex;
    box-sizing: border-box;
    padding: 70px 50px 70px 50px;
    flex-wrap: wrap;
    gap: 50px 0px;
    align-items: center;
    justify-content: space-around;
}

.news-panel {
    width: 400px;
    height: 595px;
    border: 2px solid #A79696;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-panel img {
    width: 400px;
    height: 400px;
}

.article-headline {
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.article-preview {
    margin: 0 10px 0 10px;
    text-align: justify;
}

.btnReadMoreButton {
    width: 380px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #294278;
    border: none;
    transition: transform 0.5s ease;
}

/*About Page*/

#about-page {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0 20px 0 20px;
    font-size: 50px;
    font-weight: 700;
}

.about-section {
    box-sizing: border-box;
}

.accordion li {
    list-style: none;
    margin: 20px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    background: #FAF7EE;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    color: #E5A73A;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: #555555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
    content: '-';
}
