@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    display: flex;
    background: #FAF7EE;
}

html::-webkit-scrollbar {
    display: none;
}

#nav-bar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #294278;
    color: white;
    font-size: 25px;
    font-weight: 700;
    z-index: 4;
}

#nav-links {
    display: flex;
    align-items: center;
}

#nav-list {
    width: 900px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

#nav-list li {
    display: inline;
}

.lnkBtnNavLink {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.lnkBtnNavLink:hover {
    color: #E5A73A;
}

.page-container {
    width: 100vw;
    display: flex;
}

#authentication-page {
    height: 100vh;
}

#home-page {
    height: 150vh;
}

#signin-container,
#signup-container,
#authentication-slider {
    height: 100vh;
    transition: box-shadow 0.5s ease, left 0.5s ease, right 0.5s ease;
}

#signin-container,
#signup-container {
    width: 40vw;
    position: absolute;
    background: #FAF7EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signin-container {
    left: calc(50% - 40vw/2);
    z-index: 1;
}

#signup-container {
    left: calc(100% - 40vw);
    z-index: 2;
}

#authentication-slider {
    width: 60vw;
    position: absolute;
    left: 0px;
    background: #FAF7EE;
    display: flex;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.website-title,
#signin-message,
#signin-email,
#signup-email,
#signin-password,
#signup-password,
#signup-confirm-password,
#signin-button,
#signup-button,
#switch-to-signup,
#switch-to-signin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-title {
    width: 425px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    font-weight: 700;
    cursor: default;
}

.website-title img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

#signin-message,
#signup-message {
    width: 425px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: 700;
}

#signup-message {
    flex-direction: column;
}

.input-field {
    width: 576px;
    height: 60px;
    position: relative;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #161B2B;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.3s;
}

.txtInputField {
    width: 400px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #161B2B;
    padding: 0 10px;
    background-color: #efefef;
    border: 2px solid black;
    outline: #efefef;
    border-radius: 10px;
    transition: 0.3s;
}

.txtInputField:focus ~ label,
.txtInputField:valid ~ label {
    top: 5px;
    font-size: 12px;
    color: white;
    background-color: #000000;
    border-radius: 5px;
}

#signin-button,
#signup-button {
    height: 60px;
    margin: 15px 0;
}

.btnSubmitForm {
    width: 425px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #294278;
    border: none;
    border-radius: 25px;
    transition: transform 0.5s ease;
}

.btnSubmitForm:hover {
    transform: translateY(-2px);
}

#switch-to-signup,
#switch-to-signin {
    margin: 15px 0;
}

#sign-in,
#sign-up {
    cursor: pointer;
}

#home-message {
    width: 100vw;
    height: 325px;
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 100px;
}

#shortcut-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnShortcutButton {
    width: 425px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #E5A73A;
    border: none;
    border-radius: 25px;
    transition: transform 0.5s ease;
}

.btnShortcutButton:hover {
    transform: translateY(-2px);
}

#contact-label {
    font-size: 40px;
    font-weight: 700;
    color: #294278;
    margin-top: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#left-panel {
    margin-left: 300px;
    float: left; 
}

#email-label {
    font-size: 30px;
    font-weight: 700;
    color: #294278;
    margin-top: 100px;
    margin-left: -20px;
    text-align: center;
}

#number-label {
    font-size: 30px;
    font-weight: 700;
    color: #294278;
    margin-top: 20px;
    margin-left: -20px;
    text-align: center;
}

#connect-with-us-label {
    font-size: 26px;
    font-weight: 700;
    color: #294278;
    margin-top: 25px;
    margin-left: -18px;
    text-align: center;
}

#email-info,
#contact-number {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    border: 3px;
    background-color: #E5A73A;
    width: 340px;
    border-radius: 15px;
    margin-top: 10px;
}

#email-info a,
#contact-number a {
    color: #FAF7EE;
}

.social-account {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-text img {
    margin-right: 10px;
}

.social-account p {
    font-size: 20px;
    font-weight: 700;
    color: #E5A73A;
    margin: 0;
}

.right-panel {
    background-color: #294278;
    padding: 20px;
    border-radius: 15px;
    color: white;
    position: absolute;
    right: 0;
    width: 400px;
    margin-top: -470px;
    margin-right: 260px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    margin-top:2px;
    margin-left: -7px;
}

.form-group {
    width: 300px;
    margin: 0 auto;
}

.form-group input,
.form-group textarea {
    width: 300px; 
    padding: 14px;
    border-radius: 10px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    margin-left: -15px; 
}

.no-resize {
    resize: none;
}

.btnSubmitForm {
    width: 100px;
    height: 30px;
    padding: 0 16px;
    border-radius: 15px;
    background-color: #E5A73A;
    color: #fff;
    font: bold 14px/1.5 Poppins, sans-serif;
    cursor: pointer;
    border: 0;
    float: right;
    margin-top: 5px;
    margin-right: 35px;
}

